* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e6e5ddff;
    font-family: 'Anton', sans-serif;
    font-family: 'Fira Sans Condensed', sans-serif;
}

html {
    font-size: 62.5%;
}

h1{ 
    font-family: 'Anton', sans-serif;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 2.5rem;
    font-weight: 350;
    color: #C33C23;
}

.container, .container-about {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.container-about {
    overflow: auto;
}

/* HEADER ///////////////////////////////////// */

.header {
    padding-top: 3rem;
    display: flex;
    justify-content: center;
    position: relative;
}

.heading {
    position: relative;
    min-width: 5rem;
    justify-self: center;
    align-self: center;
}

.heading-1 {
    font-size: 5.6rem;
}

.login {
    position: absolute;
    top: 0;
    right: 0;
    width: 6.4rem;
    height: 6.4rem;
    background-color: #C33C23;
    border-radius: 5% 0 0 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MAIN ///////////////////////////////////// */

.main {
    display: flex;
    min-height: 30%;
    justify-content: center;
}

.form {
    width: 600px;
    align-self: center;
    background-color: #FFF;
    border-radius: 50px;
    display: flex;
    align-items: center;
    transition: width .4s, background-color .4s;
    position: relative;
}

.form:focus-within {
    width: 650px;
    background-color: #EEE;
}

.label {
    position: absolute;
    top: -2.4rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.6rem;
    color: #C33C23;
}

.input {
    background-color: transparent;
    padding: 0 32px;
    width: 100%;
    height: 3.6rem;
    border: none;
    outline: none;
}

.button {
    background-color: transparent;
    color: #C33C23;
    border: 2px solid #C33C23;
    outline: none;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    margin-right: .3rem;
    cursor: pointer;
    transition: all .2s;
}

.button:hover {
    background-color: #C33C23;
    color: #FFF;
    border: 2px solid transparent;
}

.button:active {
    background-color: #b12e16;
    color: #FFF;
    border: 2px solid transparent;
}

.submit {
    width: 40px;
    height: 35px;
}

.login h1 {
    font-size: 3.5rem;
    font-weight: 700;
    color: transparent;
    transition: color 1.5s;
}

.login h1:hover {
    color: white;
}

/* RESULT ///////////////////////////////////// */

.result {
    flex: 1;
    display: flex;
    justify-content: center;
    width: 100%;
}

#answer {
    font-size: 5.6rem;
}

.tablenotes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    padding: 2.5rem 0;
    min-width: 400px;
}

.tablenotes .note {
    font-weight: 350;
    font-size: 4rem;
    color:  rgb(54, 151, 230);
    padding: 2rem;
}

.tablenotes th {
    text-align: left;
}

.desc {
    font-size: 4rem;
    color: #333;
}

/* FOOTER ///////////////////////////////////// */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(81, 165, 165);
    padding: 0;
    height: 8rem;
}

.links {
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
}

.links li {
    width: 8rem;
    font-size: 3.2rem;
}

.links li:first-child {
    margin-left: 3rem;
}

.icon {
    width: 3.5rem;
    height: 3.5rem;
    fill: #FFF;
    transition: fill .2s;
}

.icon:hover {
    fill: #C33C23;
}

a:link,
a:visited {
    text-decoration: none;
    color: #FFF;
    transition: color .2s;   
}

a:hover {
    text-decoration: none;
    color: #C33C23;
}

.copy {
    color: #FFF;
    font-size: 1.6rem;
    margin-right: 3rem;
}

.links a:hover {
    color: #C33C23;
}

/* ABOUT ME ///////////////////////////////////// */

.about-me {
    width: 80%;
    margin: 0 auto;
}

.about-me p {
    font-size: 2.4rem;
    color: #333;
    line-height: 1.6;
}

.about-me p:not(:last-child) {
    margin-bottom: 2.4rem;
}

.photo-container {
    margin: 0 auto;
    width: 30rem;
    height: 30rem;
    border-radius: 15rem;
    overflow: hidden;
    box-shadow: 4px 4px 16px #00000035;
    margin-bottom: 5rem;
}

.my-photo {
    width: 30rem;
}

.about-me .contact-link:link, 
.about-me .contact-link:visited {
    color: rgb(81, 165, 165);    
    transition: color .2s;
}

.about-me .contact-link:link:hover, 
.about-me .contact-link:visited:hover {
    color: #C33C23;
}

@media (max-width: 767px) {
    html {
        font-size: 40%;
    }

    .form {
        width: 80%;
    }

    .form:focus-within {
        width: 90%;
    }

    .label {
        font-size: 2.4rem;
        top: -3.2rem;
    }

    .about-me {
        padding: 8rem 0;
    }
}
